* {
  box-sizing: border-box;
}

body {
  background: green;
  margin: 20px auto;
}

.card-container {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 10px;
}
