* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background: linear-gradient(#B2EBF2, #00BCD4);
  margin: 1rem auto;
  width: 95%;
  font-family: 'Kanit', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.3rem;
  margin: 0.2rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

h5, p {
  font-size: 0.7rem;
}

.page-title {
  margin: 1rem auto;
  text-align: center;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-box-shadow: 0.7rem 0.7rem 0.25rem #666a7483, -0.7rem -0.7rem 0.25rem #cddc3984;
  box-shadow: 0.7rem 0.7rem 0.25rem #666a7483, -0.7rem -0.7rem 0.25rem #cddc3984;
  position: sticky;
  top: 1rem;
  z-index: 4;
}

.card-container {
  width: 48rem;
  margin: 2rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 2rem;
}

.card {
  margin-bottom: auto;
  padding: 0.5rem;
  width: 14.5rem;
  border: 1px solid black;
  -webkit-box-shadow: 0.7rem 0.7rem 0.25rem #666a7483, -0.7rem -0.7rem 0.25rem #cddc3984;
  box-shadow: 0.7rem 0.7rem 0.25rem #666a7483, -0.7rem -0.7rem 0.25rem #cddc3984;
}

.product-name {
  text-align: center;
  border: 1px solid lightblue;
  border-radius: inherit;
  padding-bottom: 2px;
}

.card-img-top {
  margin-top: 5px;
  width: 100%;
  height: 19rem;
  object-fit: cover;
  top: 50%;
  border-radius: 3px;
}

.description {
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 5px;
}

.availability {
  width: inherit;
  text-align: center;
  background: darkgray;
  color: yellow;
  margin: 2px -0.5rem;
}

.spec-head {
  margin-top: 5px;
}

.size, .weight, .product-pricing h5 {
  font-weight: bold;
  margin-bottom: 5px;
}

.size::before {
  content: "Size: "
}

.weight::before {
  content: "Weight: "
}

.spec-validity p {
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 3px;
}

hr {
  margin: 2px auto;
}

.sold-out {
  position: absolute;
  width: 140%;
  top: 5.5rem;
  left: -2.85rem;
  z-index: 3;
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 2.1rem;
  }
  .card-container {
    width: 31.5rem;
    justify-content: space-between;
  }
  .card {
    width: 14.5rem;
  }
}
